[submodule "backend"]
	path = backend
	url = https://github.com/omar-albarakeh/nestjsmobile.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/omar-albarakeh/solariqflutter.git
[submodule "Solar-IQ-React"]
	path = Solar-IQ-React
	url = https://github.com/omar-albarakeh/Solar-IQ-React.git
[submodule "SolarIQ-Esp8266"]
	path = SolarIQ-Esp8266
	url = https://github.com/omar-albarakeh/SolarIQ-Esp8266.git
